<nz-table dir="rtl" #basicTable [nzData]="listOfData" [nzBordered]="true" [nzOuterBordered]="false" [nzSize]="'middle'" [nzScroll]="{ x: '100%', y: '300' }" ngSkipHydration>
  <thead>
    <tr>
      @for(column of columns; track column){
        <th [nzWidth]="column.width" style="text-align: center; vertical-align: middle;">
          {{ column.title }}
        </th>
      }     
    </tr>
  </thead>
  <tbody>
    @for(data of listOfData; track data){
      <!-- Main row  -->
      <tr>
        @for(column of columns; track column){
          <td [attr.rowSpan]="column.rowspan && data.RoomDetails ? data.RoomDetails.length : null">
            {{ column.rowspan ? data[column.field] : (data.RoomDetails && data.RoomDetails.length > 0 ? data.RoomDetails[0][column.field] : '') }}
          </td>
        }       
      </tr>
      <!-- Additional rows for subsequent rooms -->
       @if(data.RoomDetails && data.RoomDetails.length > 1){
        @for(room of data.RoomDetails.slice(1); track room){
          <tr>
            @for(column of columns; track column){
              @if(!column.rowspan){
                <td>{{ room[column.field] }}</td>
              }             
            }           
          </tr>
        }     
      }      
    }    
  </tbody>
</nz-table>
