.dynamic-form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  direction: rtl; /* כיוון ימין לשמאל */
}


.control-full {
  grid-column: span 4; /* תופס את כל רוחב העמודה */
}

.control-half {
  grid-column: span 2; /* תופס חצי מרוחב העמודה */
}

.control-third {
  grid-column: span 1; /* תופס שליש מרוחב העמודה */
}
::ng-deep {
  .ant-picker-panels {
    direction: inherit !important;
  }
}


nz-select {
  min-width: 200px;
}

.form-control-group label {
  margin-bottom: 4px;
}

.text-danger {
  color: red;

  font-size: smaller;
}

.btn-orange {
  background-color: #ff5722; /* Orange background */

  color: white;

  border: none;

  border-radius: 4px;

  padding: 8px 16px;

  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


.report-type-group label {
  margin-left: 8px;
}

.report-type-select {
  margin-left: 8px;

  width: auto;
}

.report-btn {
  margin-right: 16px;

  background-color: #ff5722; /* Orange background */

  color: white;

  border: none;

  border-radius: 4px;

  padding: 1px 16px;
  cursor: pointer;
}

.filter-label {
  margin-right: 8px; /* Add space between switch and label */
}

.filter-label {
  margin-right: 8px; /* Add space between switch and label */
}

/* Responsiveness */ /* Responsive Adjustments */

@media (max-width: 1024px) {
  .dynamic-form {
    grid-template-columns: repeat(2, 1fr);
  }

  .half-width {
    grid-column: span 1;
  }

  .full-width {
    grid-column: span 2;
  }
}
@media (max-width: 600px) {
  .dynamic-form {
    grid-template-columns: 1fr;
  }
  .half-width,
  .full-width {
    grid-column: span 1;
  }
}
