<!-- Toggle Switch for Filters -->
<nz-switch
  id="toggle-filters1"
  [(ngModel)]="controlsVisible"
  (ngModelChange)="toggleFilters($event)"
></nz-switch>

<label for="toggle-filters1" class="filter-label">הצגה/הסתרת מסננים</label>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="dynamic-form">
  @if (controlsVisible) {
    <div nz-row class="dynamic-form">
      @for (control of controls; track control) {
        <div [ngClass]="control.cssClass" [style.gridColumn]="control.gridColumn">
          <label>{{ control.label }}</label>
          <ng-container [ngSwitch]="control.type">
            
            <!-- Dropdown -->
            @if (control.type === 'dropdown') {
              <nz-select [formControlName]="control.controlName" class="form-control">
                @for (option of control.options; track option) {
                  <nz-option [nzValue]="option.value" [nzLabel]="option.text">
                    {{ option.text }}
                  </nz-option>
                }
              </nz-select>
            }
            
            <!-- MultiSelect Dropdown -->
            @if (control.type === 'multipleselect') {
              <nz-select
                nzMode="multiple"
                nzShowSearch
                nzAllowClear
                [nzMaxTagCount]="3"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzPlaceHolder="בחר בבקשה"
                [formControlName]="control.controlName"
                class="form-control">
                @for (option of control.options; track option) {
                  <nz-option [nzValue]="option.value" [nzLabel]="option.text">
                    {{ option.text }}
                  </nz-option>
                }
              </nz-select>
              <ng-template #tagPlaceHolder let-selectedList>
                ו {{ selectedList.length }} יותר נבחרו
              </ng-template>
            }
            
            <!-- Datepicker -->
            @if (control.type === 'datepicker') {
              <nz-range-picker
                [formControlName]="control.controlName"
                [nzFormat]="'dd/MM/yyyy'"
                class="form-control">
              </nz-range-picker>
            }
            
            <!-- Number Input Field -->
            @if (control.type === 'number') {
              <nz-input-number
                [formControlName]="control.controlName"
                class="form-control"
                [nzMin]="1">
              </nz-input-number>
            }              
            
          </ng-container>

          <!-- Validation Errors -->
          @if (form.get(control.controlName)?.invalid && form.get(control.controlName)?.touched) {
            <div class="text-danger">
              @if (form.get(control.controlName)?.errors?.['required']) { 
                שדה חובה 
              }
              @if (form.get(control.controlName)?.errors?.['min']) {
                הערך צריך להיות גדול מ-{{ form.get(control.controlName)?.errors?.['min']?.min }}
              }
            </div>
          }
        </div>
      }
    </div>
  }
</form>

