<nz-table #basicTable [nzData]="listOfData" [nzBordered]="true" [nzOuterBordered]="false" [nzSize]="'middle'" [nzScroll]="{ x: '1200px' }">
    <thead>
      <tr>
        <th nzLeft>פרויקט</th>
        <th nzLeft>שם מלון</th>
        <th>תעודת זהות</th>
        <th>שם עובד</th>
        <th>מספר עובד</th>
        <th>האם קיימתת רגישות</th>
        <th>פירוט רגישויות</th>
        <th>סוג חדר</th>
        <th>פירוט שיבוץ</th>
        <th>תאריך התחלה</th>
        <th>תאריך סיום</th>
        <th>מבוגרים</th>
        <th>ילדים</th>
        <th>תינוקות</th>
        <th>מחיר חדר</th>
        <th>יציאה במוצ"ש</th>
        <th>מחיר יציאה במוצ"ש</th>
        <th>דלת מקשרת</th>
        <th>ארוחת שישי ילד</th>
        <th>ארוחת שישי מבוגר</th>
        <th>מחיר ארוחת שישי</th>
        <th>הערות</th>
        <th>אטרקציה</th>
        <th>כמות</th>
        <th>מחיר אטרקציה</th>
        <th>הסעות</th>
        <th>כמות</th>
        <th>מחיר הסעות</th>
        <th>ספסוד</th>
        <th>מחיר סופי</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of listOfData">
        <!-- שורה ראשית של העובד -->
        <tr>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.ProjectName }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.HotelName }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.ID_Number }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.EmployeeName }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.EmployeeNumber }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.IsSensitive }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.SensitivityDetails }}</td>
  
          <!-- הצגת החדר הראשון בשורה הראשית -->
          <td>{{ data.RoomDetails[0].RoomTypeName }}</td>
          <td>{{ data.RoomDetails[0].AssignmentDetails }}</td>
          <td>{{ data.RoomDetails[0].StartDate }}</td>
          <td>{{ data.RoomDetails[0].EndDate }}</td>
          <td>{{ data.RoomDetails[0].NumberOfAdults }}</td>
          <td>{{ data.RoomDetails[0].NumberOfChildren }}</td>
          <td>{{ data.RoomDetails[0].NumberOfInfants }}</td>

          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.RoomPrice }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.SaturdayDeparture }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.PriceSaturdayDeparture }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.ConnectingDoor }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.FridayDinnerChild }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.FridayDinnerAdult }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.FridayDinnerPrice }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.Comments }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.Attraction }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.AttractionQuantity }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.AttractionPrice }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.Transport }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.TransportQuantity }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.TransportPrice }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.Subsidy }}</td>
          <td [attr.rowSpan]="data.RoomDetails.length">{{ data.FinalPrice }}</td>
          

        </tr>
  
        <!-- שורות נוספות עבור החדרים הבאים -->
        <tr *ngFor="let room of data.RoomDetails.slice(1)">
          <td>{{ room.RoomTypeName }}</td>
          <td>{{ room.AssignmentDetails }}</td>
          <td>{{ room.StartDate }}</td>
          <td>{{ room.EndDate }}</td>
          <td>{{ room.NumberOfAdults }}</td>
          <td>{{ room.NumberOfChildren }}</td>
          <td>{{ room.NumberOfInfants }}</td>
        </tr>
  
      </ng-container>
    </tbody>
  </nz-table>
  